// OMBRE
@mixin shadow ($color) {
  -webkit-box-shadow: 4px 4px 10px -2px $color;
  -moz-box-shadow: 4px 4px 10px -2px $color;
  box-shadow: 4px 4px 10px -2px $color;
}

// TRIANGLE + OMBRE
@mixin arrow-shadow ($width, $size, $shift, $color-shadow, $color, $distance) {
  width: $width;
  height: $size;
  position: relative;
  overflow: hidden;
  left: $distance;
  &:after {
    content: "";
    position: absolute;
    width: $width;
    height: $width;
    background: $color;
    transform: rotate(45deg);
    top: $shift;
    @include shadow($color-shadow)
  }
}

// CALC
@mixin calc ($percent, $pixel) {
  width: -webkit-calc(#{$percent} - #{$pixel});
  width: -moz-calc(#{$percent} - #{$pixel});
  width: calc(#{$percent} - #{$pixel});
}

// COLUMNS
@mixin column ($nbr, $gap, $divide) {
  -webkit-column-count: $nbr;
  -moz-column-count: $nbr;
  column-count: $nbr;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
  -webkit-column-rule: $divide;
  -moz-column-rule: $divide;
  column-rule: $divide;
}

@mixin break {
  break-inside: avoid-column;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
