// OMBRE
@mixin shadow ($color) {
  -webkit-box-shadow: 4px 4px 10px -2px $color;
  -moz-box-shadow: 4px 4px 10px -2px $color;
  box-shadow: 4px 4px 10px -2px $color;
}

// TRIANGLE + OMBRE
@mixin arrow-shadow ($width, $size, $shift, $colour-shadow, $color) {
  width: $width;
  height: $size;
  position: relative;
  overflow: hidden;
  left: 30%;
  &:after {
    content: "";
    position: absolute;
    width: $width;
    height: $width;
    background: $color;
    transform: rotate(45deg);
    top: $shift;
    @include shadow($colour-shadow)
  }
}

// CALC
@mixin calc ($percent, $pixel) {
  width: -webkit-calc(#{$percent} - #{$pixel});
  width: -moz-calc(#{$percent} - #{$pixel});
  width: calc(#{$percent} - #{$pixel});
}
