// OMBRE
@mixin shadow ($color) {
  -webkit-box-shadow: 4px 4px 10px -2px $color;
  -moz-box-shadow: 4px 4px 10px -2px $color;
  box-shadow: 4px 4px 10px -2px $color;
}

// TRIANGLE + OMBRE
@mixin arrow-shadow ($width, $size, $shift, $color-shadow, $color, $distance) {
  width: $width;
  height: $size;
  position: relative;
  overflow: hidden;
  left: $distance;
  &:after {
    content: "";
    position: absolute;
    width: $width;
    height: $width;
    background: $color;
    transform: rotate(45deg);
    top: $shift;
    @include shadow($color-shadow)
  }
}

// CALC
@mixin calc ($percent, $pixel) {
  width: -webkit-calc(#{$percent} - #{$pixel});
  width: -moz-calc(#{$percent} - #{$pixel});
  width: calc(#{$percent} - #{$pixel});
}

// COLUMNS
@mixin column ($nbr, $gap, $divide) {
  -webkit-column-count: $nbr;
  -moz-column-count: $nbr;
  column-count: $nbr;
  -webkit-column-gap: $gap;
  -moz-column-gap: $gap;
  column-gap: $gap;
  -webkit-column-rule: $divide;
  -moz-column-rule: $divide;
  column-rule: $divide;
}

// Column break
@mixin break {
  break-inside: avoid-column;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

// Placeholder
@mixin placeholder ($color) {
  ::-webkit-input-placeholder {
    color: $color;
  }
  ::-moz-placeholder {
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
  ::placeholder {
    color: $color;
    opacity: 1;
  }
}

// Cercle
@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}


// Fleche du market place
@mixin arrow-market-place($top, $left, $rotate) {
  content: "";
  background: url(../medias/icon/arrow-2.svg) no-repeat;
  position: absolute;
  width: 154px;
  height: 24px;
  top: $top;
  left: $left;
  transform: rotate($rotate);
}
