// GLOBAL VARIABLES
// add your global variables here
// COLOR
$base-color: #ff3d46;
$content-color-dark: #4a4a4a;
$content-color-med: #e8e8e8;
$content-color-light: #f2f2f2;
$content-color-white: #ffffff;
$color-shadow: rgba(74, 74, 74, 0.25);

// FONT
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,300i,500,500i);
$montserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Oswald');
$oswald: 'Oswald', sans-serif;

$light: 300;
$bold: 500;

// MARGIN & PADDING
$large-space: 50px;
$normal-space: 20px;
$null: 0;

// EXTEND
%after-content {
  content: "";
  position: relative;
}
