#aybeecee-pour-qui {
  .wrapper {
    flex-direction: column;
    @include breakpoint(phone) {
      flex-direction: row;
    }
    .inner {
      @include calc(100%, $normal-space);
      margin-bottom: $normal-space;
      height: 100%;
      @include breakpoint(phone) {
        @include calc(100%/2, $normal-space);
      }
      @include breakpoint(tablet-landscape) {
        @include calc(100%/3, $normal-space);
      }
      @include breakpoint(desktop) {
        @include calc(100%/6, $normal-space);
      }
      .content {
        text-align: center;
        h3 {
          a {
            color: $content-color-white;
          }
        }
        .svg {
          max-height: 100px;
          margin-bottom: $normal-space;
        }
      }
    }
  }
}

.rubrique {
  .background {
    @include shadow($color-shadow);
  }
  h2 {
    padding: $normal-space $null;
    justify-content: center;
    text-transform: uppercase;
    font-family: $oswald;
    font-size: 40px;
  }
  .arrow {
    @include arrow-shadow(75px, 35px, -60px, $color-shadow, $base-color, 47%)
  }
  .wrapper {
    .inner {
      .content {
        box-shadow: none;
        @include column(1, $large-space, 3px dotted $base-color);
        @include breakpoint(tablet-landscape) {
          @include column(3, $large-space, 3px dotted $base-color);
        }
        @include breakpoint(desktop) {
          @include column(4, $large-space, 3px dotted $base-color);
        }
        .intro {
          font-size: 18px;
          margin-bottom: $normal-space /2;
          span {
            color: $base-color;
            text-transform: uppercase;
            font-weight: $bold;
          }
        }
        .text {
          @include break;
          p {
            margin-bottom: $normal-space /2;
          }
        }
      }
    }
  }
}
