#contact {
  text-align: center;
  p {
    margin-bottom: $normal-space;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input,
    textarea {
      width: 100%;
      margin: 0 auto;
      margin-bottom: $normal-space;
      background: none;
      border: none;
      border-bottom: 2px dotted $content-color-white;
      color: $content-color-white;
      font-style: italic;
      font-family: $montserrat;
      font-size: 15px;
      padding: 2px 4px;
      &[type="submit"] {
        @include circle(100px, $content-color-dark);
        border: none;
        text-transform: uppercase;
        font-style: normal;
      }
      &:active {
        outline: none;
        background-color: blue;
        box-shadow: none;
      }
    }
  }
  @include placeholder($content-color-white);
}
