#contact {
  p {
    text-align: center;
    margin-bottom: $normal-space;
  }
  form {
    @extend %flex-center;
    flex-direction: column;
    input,
    textarea {
      width: 100%;
      margin: 0 auto;
      margin-bottom: $normal-space / 2;
      margin-top: $normal-space / 2;
      background: none;
      border: none;
      border-bottom: 2px dotted $content-color-white;
      color: $content-color-white;
      font-style: italic;
      font-family: $montserrat;
      font-size: 15px;
      padding: 2px 4px;
      &[type="submit"] {
        @include circle(100px, $content-color-dark);
        border: none;
        text-transform: uppercase;
        font-style: normal;
        cursor: pointer;
      }
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
    .field_missing {
      margin-bottom: $normal-space /2;
      font-size: 13px;
      font-style: italic;
    }
  }
  @include placeholder($content-color-white);
}
