footer {
  width: 100%;
  padding: 0 $normal-space;
  @include breakpoint(tablet-portrait) {
    width: 54%;
    @include column (2, $large-space, none);
  }
  p {
    &:last-child {
      font-weight: $bold;
    }
    a {
      color: $content-color-white;
    }
  }
}
