#header,
#header-scroll {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.logo {
  text-align: center;
  img {
    max-width: 690px;
  }
}

.nav {
  ul {
    display: flex;
    justify-content: space-between;
    font-family: $oswald;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    li {
      padding: $null;
      text-indent: 0;
      &:before {
        display: none;
      }
    }
    a {
      color: $content-color-white;
      &:hover {
        color: $content-color-dark;
      }
    }
  }
}

#header-scroll {
  ul {
    font-size: 19px;
    align-items: center;
    li {
      img {
        max-width: 150px;
      }
    }
  }
}

#scroll {
  padding-top: 430px;
}
