.logo {
  text-align: center;
  img {
    max-width: 690px;
  }
}

.nav {
  padding-top: 0;
  padding-bottom: 10px;
  ul {
    display: flex;
    justify-content: space-between;
    font-family: $oswald;
    font-size: 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    li {
      padding: 0;
      text-indent: 0;
      &:before {
        display: none;
      }
    }
    a {
      color: $content-color-white;
      &:hover {
        color: $content-color-dark;
      }
    }
  }
}
