.market-place-visuel {
  @extend %flex-center;
  flex-direction: column;
  position: relative;
  .circle-03 {
    @extend %flex-center;
    @include circle(890px, $content-color-light);
  }
  .circle-02 {
    @extend %flex-center;
    @include circle(690px, $content-color-med);
  }
  .circle-01 {
    @include circle(500px, $base-color);
    @include shadow($color-shadow);
  }
  .contain-principal {
    padding: $large-space ($large-space * 2);
  }
  .contain-secondaire {
    @extend %flex-center;
    flex-direction: column;
    @include circle(260px, $content-color-dark);
    padding: $large-space;
    @include shadow($color-shadow);
    img {
      margin-bottom: $normal-space;
      max-height: 100px;
    }
    &.pdv {
      position: absolute;
      top: 10px;
      right: 170px;
      text-align: center;
      &:before {
        @include arrow-market-place(240px, -50px, -50deg);
      }
    }
    &.grp {
      position: absolute;
      bottom: 130px;
      left: 60px;
      &:before {
        @include arrow-market-place(10px, 170px, 160deg);
      }
    }
    &.fourn {
      position: absolute;
      bottom: 20px;
      right: 170px;
      &:before {
        @include arrow-market-place(10px, -70px, 40deg);
      }
    }
  }
  h2 {
    text-transform: uppercase;
    font-weight: $light;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
