#que-fait-aybeecee {
  .wrapper {
    flex-direction: column;
    @include breakpoint(tablet-portrait) {
      flex-direction: row;
    }
    .inner {
      @include calc(100%, 0);
      height: 280px;
      max-width: 280px;
      margin-bottom: $normal-space;
      &:hover .main {
        opacity: 0;
      }
      &:hover .second {
        opacity: 1;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        opacity: 1;
        transition: all .25s ease;
        @include breakpoint(desktop) {
          flex-direction: column;
        }
        .svg {
          margin-bottom: $normal-space;
        }
      }
      .second {
        text-align: left;
        position: absolute;
        width: 280px;
        height: 280px;
        opacity: 0;
      }
      .intitule {
        text-transform: uppercase;
        font-weight: $bold;
      }
      .baseline {
        text-align: left;
        font-size: 40px;
      }
    }
  }
}
