#que-fait-aybeecee {
  .wrapper {
    .inner {
      @include calc(25%, $normal-space);
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: $normal-space;
        text-align: center;
        max-height: 280px;
        .svg {
          margin-bottom: $normal-space;
        }
      }
      .intitule {
        text-transform: uppercase;
        font-weight: $bold;
      }
      .baseline {
        text-align: left;
        font-size: 40px;
      }
      &:nth-child(4n + 4) {
        margin-right: $null;
      }
    }
  }
}
