#qui-sommes-nous {
  @extend %flex-center;
  flex-direction: column;
  text-align: center;
  p {
    width: 75%;
    font-size: 23px;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
