#qui-sommes-nous {
  @extend %flex-center;
  flex-direction: column;
  text-align: center;
  p {
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
    @include breakpoint(tablet-landscape) {
      font-size: 23px;
    }
    @include breakpoint(desktop) {
      width: 75%;
    }
  }
}
