body {
  font-family: $montserrat;
  font-weight: $light;
  font-size: 16px;
  margin: 0 auto;
  color: $content-colour-dark;
}


// Gestion des fonds
%padding-section {
  padding: 50px 0;
}

%width-container {
  width: 1200px;
  margin: 0 auto;
  @extend %padding-section;
}

.background-color {
  background-color: $base-colour;
  .logo,
  nav,
  #market-place,
  #temoignages,
  #contact,
  footer {
    @extend %width-container;
  }
  h1 {
    color: $content-colour-white;
  }
}

.background-light-color {
  background-color: $content-colour-light;
  #aybeecee-pour-qui {
    @extend %width-container;
  }
}

.no-background {
  @extend %width-container;
  @extend %padding-section;

}

// TITRE
h1 {
  color: $base-colour;
  font-family: $oswald;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-weight: $bold;
  font-size: 25px;
}

h3 {}

p {}

// IMAGE
img {
  width: 100%;
}
