body {
  font-family: $montserrat;
  font-weight: $light;
  font-size: 16px;
  margin: 0 auto;
  color: $content-color-dark;
}

// Gestion des fonds
%padding-section {
  padding: $large-space $null;
}

.background {
  &.base-color {
    background-color: $base-color;
    color: $content-color-white;
    h1 {
      color: $content-color-white;
    }
  }
  &.light-color {
    background-color: $content-color-light;
    color: $content-color-dark;
  }
  &.dark-color {
    background-color: $content-color-dark;
    color: $content-color-white;
  }
  &.white-color {
    background-color: $content-color-white;
    color: $content-color-dark;
  }

  %container-width {
    width: 1200px;
    margin: 0 auto;
  }

  .logo,
  nav,
  #qui-sommes-nous,
  #market-place,
  hr,
  #temoignages,
  #que-fait-aybeecee,
  #aybeecee-pour-qui,
  #contact,
  footer,
  .wrapper {
    @extend %container-width;
  }
  .logo,
  #qui-sommes-nous,
  #market-place,
  hr,
  #que-fait-aybeecee,
  #aybeecee-pour-qui,
  #contact {
    @extend %padding-section;
  }
  #temoignages {
    padding-top: $large-space;
  }
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: $normal-space;
    .content {
      padding: $normal-space;
      @include shadow ($color-shadow);
      &.image {
        padding: $null;
      }
    }
  }
}


// TITRE
h1 {
  color: $base-color;
  font-family: $oswald;
  font-size: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-weight: $bold;
  font-size: 25px;
}

h3 {
  font-family: $oswald;
  font-size: 23px;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: $normal-space;
}

p {
  font-size: 15px;

  line-height: normal;
  font-weight: $light;
}

strong {
  font-weight: $bold;
}

a {
  text-decoration: none;
}

// IMAGE
img {
  width: 100%;
}

hr {
  border: 0;
  &:after {
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-image: url(../medias/icon/dot.svg);
    background-repeat: repeat-x;
    color: $content-color-white;
  }
}

